* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.session-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 350px;
    padding: 20px;
    /* text-align: right; */
}

.inputs {
    width: 300px;
    padding: 10px;
    border: 1px solid #EEEFF0;
    border-radius: 3px;
}

#login-button, #signup-button, #demo-user-button{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 3px;
}

#demo-user-button {
    position: relative;
    top: -50px;
    background-color: #b8ccaa;
    
}

#login-button:hover, #signup-button:hover, #demo-user-button:hover {
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px rgb(196, 193, 193);
}

.session-form > h2 {
    color: rgb(255, 255, 255);
}

#login-heading {
    position: relative;
    left: -106px;
}

#signup-heading {
    position: relative;
    left: -95px;
}