#signup-modal-button {
    height: 50px;
    font-size: 15px;
    width: 72%;
    background-color: white;
    border-radius: 3px;
    /* padding: 10px; */
    border: 1px solid #EEEFF0;
}

#signup-modal-button:hover {
    cursor: pointer;
    background-color: rgb(221, 218, 218);
}