* {
    margin: 0;
    padding: 0;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Archivo', sans-serif; */
    box-sizing: border-box;
}

h2 { 
    color: rgb(153, 150, 150);
    font-weight: bold;
    /* color: green; */
    /* font-family: 'Archivo', sans-serif; */

}

#profile-body {
       

    /* margin-top: 150px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* background-color: #fffafa; */
    /* height: 100vh; */
    /* padding: 20px; */
}

#profile-left {
    margin-top: 75px;
    /* color: black; */
    width: 50%;
    padding: 35px;
    /* margin-right: 15px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p-l-top {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10px;
}

#right {
    margin-top: 70px;
    width: 50%;
    position: fixed;
    /* height: calc(100vh - 75px); */
    height: calc(100vh - 75px);
    top: 0px;
    right: 0;
    /* padding-right: 30px; */
    /* margin-top: 90px;
    margin-bottom: 100px; */
}

.profile-map {
    height: 99.5%;
    width: 100%;
}

#new-trip-button {
    width: 100%;
    height: 140px;
    background-color: #b8ccaa;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    border: solid lightgray;
    box-shadow: 1px 1px 1px 1px rgb(250, 231, 231);
}

#new-trip-button:hover {
    box-shadow: 3px 3px 3px 3px rgb(64, 62, 62);
    cursor: pointer;
}

#new-trip-button:hover span {
    display: none;
}

#new-trip-button:hover:before {
    content: "Create New Trip!";
}

#bio {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
}

#bio-right {
    width: 50%;
}
