#trip-card {
    background-color: #F3CFC6;
    border: solid 1px #fffafa;
    height: 120px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    box-shadow: 1px 1px 1px 1px rgb(123, 122, 122);
    display: flex;
    justify-content: space-between;
}

#trip-card:hover {
    box-shadow: 3px 3px 3px 3px rgb(64, 62, 62);
    cursor: pointer;
}

#tc-right {
    /* gap: none; */
    /* margin-top: -3px; */
    width: 25%;
    padding-bottom: 2px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#planner, #attnd {
    display: flex;
    align-items: center;
}

#planner > i, #attnd > i {
    color: white;
    margin-right: 8px;
}

#planner > p {
    color: white;
    font-size: 18px;
}

.trip-card-attendees{
    font-size: 12px;
    margin: 0;
    color: white;
}

.more-attendees {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: white;
}

#tc-left {
    padding-left: 8px;
}

#tc-left > * {
    margin: 0px;
}

#tc-left > h5 {
    color: rgb(153, 150, 150);
}

#tc-left > p {
    font-size: medium;
}

